@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="content">
    <div class="main-1">
        <div class="container">
            <div class="login-page">
                <div class="account_grid">
                    <div class="col-md-6 login-left">
                        <h3>NEW CUSTOMERS</h3>
                        <p>
                            By creating an account with our store, you will be able to move through the checkout process faster, store multiple
                            shipping addresses, view and track your orders in your account and more.
                        </p>
                        <a class="acount-btn" asp-controller="Home" asp-action="Register">Create an Account</a>
                    </div>
                    <div class="col-md-6 login-right">
                        <h3>REGISTERED CUSTOMERS</h3>
                        <p>If you have an account with us, please log in.</p>
                        <form>
                            <div>
                                <span>
                                    Email Address
                                    <label>*</label>
                                </span>
                                <input type="text" name="email" id="email">
                                <span id="emailSpan"></span>
                            </div>
                            <div>
                                <span>
                                    Password
                                    <label>*</label>
                                </span>
                                <input type="password" name="password" id="password">
                                <span id="passwordSpan"></span>
                            </div>
                            <input type="button" id="loginbtn" name="loginbtn" value="Login">
                            <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section scripts{
    <script src="~/js/script2.js"></script>
}