@model FooterViewModel

<!--footer-->
<div class="footer-section">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <ul>
                <h4>Quick options</h4>

                @foreach(var item in Model.FooterFirstColumn){
                    <li><a href="/@item.Link">@item.Name</a></li>
                }

            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <ul>
                <h4>MEN</h4>
                @foreach (var item in Model.FooterSecondColumn)
                {
                <li><a href="/@item.Link">@item.Name</a></li>
                }
            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <ul>
                <h4>WOMEN</h4>
                @foreach (var item in Model.FooterThirdColumn)
                {
                    <li><a href="/@item.Link" >@item.Name</a></li>
                }
            </ul>
        </div>
        <div class="col-md-3 footer-grid1">
            <div class="social-icons">
                <a href="#"><i class="icon"></i></a>
                <a href="#"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
                <a href="#"><i class="icon4"></i></a>
            </div>
            <p>Copyright &copy; 2015 Swim Wear. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
            </div>
<!--footer <!-->